name: Build Darwin ARM64

on:
  workflow_call:

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"
      - name: Set environment variables
        run: |
          echo "GOARCH=arm64" >> $GITHUB_ENV
          echo "GOOS=darwin" >> $GITHUB_ENV
          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=aarch64" >> $GITHUB_ENV

      - name: Ensure dependencies
        run: |
          go mod tidy

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"

      - name: Build and Package for Darwin ARM64
        run: |
          make build \
          && cd ./build \
          && tar -czvf minievm_"${VERSION}"_Darwin_"${ARCH_NAME}".tar.gz minitiad \
          && mv ./minievm_"${VERSION}"_Darwin_"${ARCH_NAME}".tar.gz ${GITHUB_WORKSPACE}/ \
          && rm -rf ./minitiad

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: minievm-darwin-arm64
          path: minievm_*.tar.gz
          retention-days: 1