name: Build Linux AMD64

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Set environment variables
        run: |
          echo "GOARCH=amd64" >> $GITHUB_ENV
          echo "GOOS=linux" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION="v0.0.0-${GITHUB_SHA::8}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "ARCH_NAME=x86_64" >> $GITHUB_ENV

      - name: Print environment variables
        run: |
          echo "GOARCH=${GOARCH}"
          echo "GOOS=${GOOS}"
          echo "VERSION=${VERSION}"
          echo "ARCH_NAME=${ARCH_NAME}"

      - name: Build for Linux AMD64
        run: |
          export GOARCH=${GOARCH}
          export GOOS=${GOOS}
          make build \
          && cd ./build \
          && tar -czvf minievm_${VERSION}_Linux_${ARCH_NAME}.tar.gz minitiad \
          && mv minievm_${VERSION}_Linux_${ARCH_NAME}.tar.gz ${GITHUB_WORKSPACE}/ \
          && rm -rf ./minitiad

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: minievm-linux-amd64
          path: minievm_*.tar.gz
          retention-days: 1
